
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* max-width: 1280px; */
}

body {
    font-family: "Montserrat"; 
    padding: 90px 20px 0;
}


.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: #ffffff;
    font-size: 12px;
    padding: 2rem;
    justify-content: space-between;
    
}

.navbar a {
    color: #212429;
    text-decoration: none;
    padding: .5rem 1rem;
    text-transform: uppercase;
}

.navbar Button{
    border: none;
    background-color: #ffffff;
    padding-left: rem;
    padding-right: 3rem;
}

.flex-container {
    display: flex;
    background-color: #ffffff;
}

.item-flex {
    margin-top: 2rem;
    margin-left: 2rem;
    justify-content: space-between;
    background-color: #ffffff;;
    
}

p.item-flex{
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
}

p.item-flex::first-letter {
    font-size: 130%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffffff;
    padding: 0 5rem 0 5rem;
    margin: 1rem;
    
}

.item-grid {
    margin: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;

    
}

.grid-item-img {
    width: 100%;
    border-radius: 10px;
}

.monserrat-title {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  margin: 32px;
}

.descrip-price {
    padding: 8px;
    margin: 8px;
    display: flex;
    justify-content: space-between;
}

.monserrat-tarjeta {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.monserrat-price {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    font-style: bold;
}

.footer-container {
    display: flex;
    background-color: #212429;
    padding: 1rem;
    justify-content: space-between;
}


.footer-item{
    display: flex;
    justify-content: space-around;
}

.footer-item img {
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 3rem;
}

.footer-item p{
    margin: 1rem;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;   
}


